.app {
  display: flex;
  flex-direction: column;
}

.mb-8 {
  margin-bottom: 8rem !important;
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

h1 {
  font-weight: 700;
}

p,
a {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

a:hover {
  transition: all 0.3s ease-in-out;
}

.section-title {
  margin: 0px;
  margin-bottom: 2.5rem;
  font-size: 2rem;
  font-weight: 700;
}

.dark-blue-text {
  color: #272341 !important;
}

.text-color-main {
  color: #006da7;
  transform: translateX(2px);
}

/* Call to Action Button */
.cta-btn {
  display: inline-block;
  position: relative;
  padding: 0.8rem 1.6rem;
  font-weight: bold;
  font-size: 0.8rem;
  color: #006da7;
  line-height: 1;
  z-index: 1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.6s;
}

.cta-btn::after {
  content: "";
  display: block;
  position: absolute;
  width: 0px;
  height: 100%;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.3s;
}

/* Hero Style */
.cta-btn--hero {
  border: 2px solid transparent;
  border-image: linear-gradient(135deg, #006da7 0%, #006da7 100%);
  border-image-slice: 1;
}

.cta-btn--hero::after {
  background-image: linear-gradient(135deg, #006da7 0%, #006da7 100%);
}

.cta-btn--hero:hover {
  -webkit-text-fill-color: #fff;
  text-decoration: none;
}

.cta-btn--hero:hover::after {
  width: 100%;
}

/* Resume Style */
.cta-btn--resume {
  color: #fff;
  border: 2px solid #fff;
}

.cta-btn--resume::after {
  background: #fff;
}

.cta-btn--resume:hover {
  color: #006da7;
  text-decoration: none;
}

.cta-btn--resume:hover::after {
  width: 100%;
}

/* Arrow Button */
.up i {
  color: #272727;
}

.footer {
  background-color: black;
  color: #fff;
  padding: 4.8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__text {
  color: darken(white, 50%);
  font-size: 0.8rem;
}

.footer a:hover,
:active {
  color: #006da7;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.footer a hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  width: 50%;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
}

.social-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in;
}

.social-links:hover {
  transform: translateY(-2px);
}

.Icon:not(:last-child) {
  margin-right: 15px;
}

.back-to-top i {
  color: #fff;
  margin: 1rem 0 1.6rem;
  transition: all 0.2s ease-in;
}

.back-to-top i:hover {
  transform: translateY(-2px);
}

section {
  padding: 2.5rem 0rem;
}

#about {
  background-color: #006da7;
  background-image: linear-gradient(135deg, #006da7 0%, #0051a7 100%);
  color: #fff;
  height: 100%;
  border-top: 0px;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  padding-bottom: 200px;
  padding-top: 2.5rem;
}

#about > .container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.about-wrapper__image {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}

.about-wrapper__image > img {
  object-fit: contain;
  height: 450px;
}

.about-wrapper__info {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  flex-direction: column;
}

.about-wrapper__info > p {
  font-size: 0.8rem;
}

.about-wrapper__info-text {
  text-align: left;
  background: darken(#0051a7, 1%);
  display: inline-block;
  font-style: italic;
  padding: 0.5rem;
  margin: 0;
  line-height: 1.6;
}

#contact {
  background-image: linear-gradient(135deg, #006da7 0%, #0051a7 100%);
  -webkit-clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(0 15vh, 100% 0, 100% 100%, 0 100%);
  padding: 15rem 0 10rem 0;
  margin-top: -10rem;
  margin-bottom: -1px;
  color: #fff;
}

#contact .contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 3.2rem;
  padding: 0 2rem;
  backface-visibility: hidden;
}

#contact .contact-wrapper__text {
  margin-bottom: 2.5rem;
}

#contact .contact-wrapper__text,
a {
  font-size: 1.5rem;
}

#hero {
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0px;
  background: url("/cover3.jpg");
  background-position: center;
  background-size: cover;
  font-weight: 400;
  color: #272341;
  padding: 0rem 5.6rem;
  margin-bottom: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

#hero > .container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

#hero .hero-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 3.2rem;
  text-align: center;
  color: #fff;
  animation: 2s ease-out 1s 1 slideInFromLeft;
}

.hero-cta {
  display: flex;
  justify-content: center;
}

.hero-cta a {
  font-size: 1rem;
}

#projects {
  background-color: #fff;
  color: #272341;
  padding-top: 80px;
}

#projects .project-wrapper {
  margin-bottom: 15rem;
}

#projects .project-wrapper .row {
  margin-bottom: 120px;
}

#projects .project-wrapper__text {
  text-align: left;
  margin-bottom: 40px;
  padding-right: 30px;
}

#projects .project-wrapper h2 {
  color: #0051a7;
}

#projects .project-wrapper__text-title {
  font-weight: bold;
  margin-bottom: 1.8rem;
  font-size: 1.2rem;
}

#projects .project-wrapper__text p {
  font-size: 0.75rem;
}

#projects .project-wrapper__text p > a {
  color: #0051a7;
}

.cta-project {
  font-size: 0.6rem;
}

#projects .project-wrapper__image {
  object-fit: contain;
}

#projects .project-wrapper__image .thumbnail {
  border: none;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s ease-out;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
  transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.5s box-shadow,
    0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
}

#skills > .container > .section-title {
  color: #0051a7;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-icon {
  width: 120px;
  height: 120px;
  margin: 20px;
  padding: 2px;
  transition: transform 0.2s;
}

.skills-icon:hover {
  transform: scale(1.5);
}
